* {
  margin: 0;
  font-size: 10px;
}

body {
  background-image: url("images/background-transparent.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
}

header {
  margin: 5rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 35vw;
}

h1 {
  font-size: 4vw;
}

.main-display {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.main-display img {
  display: block;
  margin: 0 auto;
}

.tv {
  width: 100%;
  z-index: 1;
}

.room {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 80%;
  z-index: -3;
}

.search-wall {
  background-color: white;
  height: 90%;
  width: 20%;
  position: absolute;
  top: 5%;
  right: 18%;
  z-index: -1;
}

.search-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 28%;
  right: 28%;
  width: 6.5%;
  height: 55%;
}

.search-images img {
  width: 100%;
}

.side-wall {
  height: 81%;
  top: 9.5%;
  right: 38%;
  width: 10%;
  z-index: ;
}

h2 {
  margin: 32% 0;
  width: 60%;
  padding-left: 5%;
  font-size: 2vh;
  text-align: center;
}

.image {
  position: absolute;
  z-index: 2;
}

.shelf {
  width: 22%;
  top: 35%;
  left: 18%;
}

.plant {
  width: 7%;
  top: 29%;
  left: 23%;
}

.pan {
  width: 8%;
  top: 32%;
  right: 51.4%;
}

.squirrel {
  width: 6%;
  bottom: 28%;
  right: 45%;
}

.easel2 {
  width: 17%;
  bottom: 28%;
  right: 47%;
}

.green-painting {
  width: 12.5%;
  bottom: 40.3%;
  right: 49.2%;
}

.tree {
  width: 3%;
  bottom: 42%;
  right: 55%;
}

.easel {
  width: 20%;
  left: 19%;
  top: 50%;
}

.pink-painting {
  width: 13%;
  left: 22.5%;
  top: 50.7%;
}

.bob {
  width: 23%;
  left: 7%;
  bottom: 17%;
}

.cloud {
  width: 4%;
  left: 27%;
  bottom: 43%;
}

.palette {
  width: 6%;
  bottom: 22%;
  left: 13%;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 4vh;
  }
}

