* {
  margin: 0;
  font-size: 10px;
}

body {
  background-image: url("images/background-transparent.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Sue Ellen Francisco', sans-serif;
}

.dark-background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
    ), url("images/background-transparent.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  margin: 3rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items:end;
  display: relative;
}

header img {
  width: 28vw;
  padding-right: 2rem;
}

.apostrophe {
  font-family: 'Kaushan script', cursive;
  font-size: 5rem;
  position: absolute;
  top: 3%;
  left: 52%;
}

h1 {
  font-size: 4.5vw;
}

.main-display {
  position: relative;
  width: 62%;
  margin: 0 auto;
}

/* .main-display img {
  display: block;
  margin: 0 auto;
} */

.canvas-backgrounds {
  display: none;
  width: 55vw;
  height: calc(70vw * (47/80));
  position: absolute;
  z-index: 3;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.canvas {
  display: none;
  background-color: white;
  opacity: 40%;
  position: absolute;
  top: 7.2%;
  left: 5%;
  z-index: 6;
  border-radius: 160px/130px;
  box-shadow: 30px 30px 30px white, -30px -30px 30px white;
}

.painting-container {
  display: none;
}

.color-wheel {
  position: absolute;
  z-index: 6;
  width: 7.2%;
  top: 17.2%;
  right: 5.5%;
  opacity: 70%;
  border-radius: 50%;
}

.color-picker {
  position: absolute;
  z-index: 7;
  top: 16%;
  right: 4.5%;
  width: 9%;
  height: 13%;
  opacity: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.brushes {
  position: absolute;
  z-index: 6;
  transform: rotate(270deg);
  width: 23%;
  bottom: 2%;
  right: 0;
  /* z-index: 0; */
}

.sizes {
  position: absolute;
  width: 23%;
  height: 26%;
  z-index: 6;
  bottom: 5.5%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sizes div {
  height: 11.5%;
  /* width: 100%; */
  opacity: 50%;
  z-index: 7;
  cursor: grab;
}

.sizes div:nth-child(1) {
  height: 28%;
}

.sizes div:nth-child(2) {
  height: 15%;
}

.sizes div:nth-child(4) {
  height: 18%;
}

.close-painting {
  display: none;
  position: absolute;
  width: 5%;
  top: 12%;
  right: 13%;
}

.tv {
  width: 100%;
  z-index: 1;
  position: relative;
  /*allows you to change z-index*/
}

.room {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 80%;
  z-index: -3;
}

.search-wall {
  background-color: white;
  height: 90%;
  width: 20%;
  position: absolute;
  top: 5%;
  right: 18%;
  z-index: -1;
}

.search-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 26%;
  right: 28%;
  width: 6.5%;
  height: 55%;
}

.search-images img {
  width: 100%;
}

.side-wall {
  position: absolute;
  height: 80%;
  top: 9.5%;
  right: 38%;
  width: 10%;
  /* z-index: -5; Why isn't this working??*/
}

h2 {
  margin: 36% 0;
  width: 65%;
  padding-left: 5%;
  font-size: 2.5rem;
  text-align: center;
}

.image {
  display: block;
  position: absolute;
  z-index: 2;
}

.shelf {
  width: 22%;
  top: 35%;
  left: 18%;
}

.plant {
  width: 7%;
  top: 29%;
  left: 23%;
}

.pan {
  width: 6.5%;
  top: 33%;
  right: 52%;
}

.squirrel {
  width: 4%;
  bottom: 22%;
  left: 33%;
}

.easel2 {
  width: 12.25%;
  bottom: 28%;
  right: 49.5%;
}

.green-painting {
  width: 12.5%;
  bottom: 40.3%;
  right: 49.2%;
}

.tree {
  width: 3%;
  bottom: 42%;
  right: 55%;
}

.easel {
  width: 14%;
  left: 20%;
  top: 50%;
}

.pink-painting {
  width: 13%;
  left: 22%;
  top: 50.7%;
}

.bob {
  width: 23%;
  left: 7%;
  bottom: 17%;
}

.cloud {
  width: 4%;
  left: 27%;
  bottom: 43%;
}

.palette {
  width: 6%;
  bottom: 22%;
  left: 13%;
}

footer {
  margin: 2rem 0 3rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.footer-links {
  display: inline-flex;
}

.fab {
  font-size: 5vw;
  padding: 1vw 2vw;
  cursor: help;
  color: black;
  text-decoration: none;
}

.fab:visited {
  color: black;
  text-decoration: none;
}

.name p {
  font-size: 2.2vw;
  padding: 0 4rem;
}

@media screen and (max-width: 1200px) {
  
  header img {
    width: 28vw;
  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 1.5rem;
  }

  .apostrophe {
    top: 3%;
    left: 51.5%;
    font-size: 4rem;
  }

  .close-painting {
    top: 8%;
  }

  .canvas {
    border-radius: 160px/130px;
  }
}

@media screen and (max-width: 768px) {

  .apostrophe {
    top: 2.7%;
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .canvas {
    border-radius: 85px/65px;
    top: 7.5%;
    left: 5.7%;
  }
}

@media screen and (max-width: 600px) {
  
  .apostrophe {
    left: 50%;
    top: 3%;
    font-size: 2rem;
  }

  header img {
    width: 25vw;
  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 0.75rem;
  }

  .close-painting {
    top: 7%;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .fab {
    font-size: 5rem;
    margin-top: 2rem;
    padding: 0 3rem;
  }

  .name p {
    font-size: 1.3rem;
  }
}






